
.ButtonCount1{
    width: 74px;
    height: 41px;
    margin-inline: 3px;
    cursor: pointer;
    background-color: rgb(8, 7, 10);
    font-size: 20px;
    color: aliceblue;
}

.ButtonCountCero{
    width: 43px;
    height: 29px;
    margin-inline: 3px;
    cursor: pointer;
    background-color: rgb(8, 7, 10);
    font-size: 23px;
    color: aliceblue;
    text-align: center;
}

.ButtonAgregar{
    width: 126px;
    margin-inline: 3px;
    cursor: pointer;
    background-color: rgb(23, 19, 29);
    color: aliceblue;
    font-size: 20px;
}

.ButtonCount{
    display: flex;
    justify-content: center;
    align-items: center;
  }

