

.item-container{
    display: inline-block;
    margin-block-start: 330px;
    margin-block-end: 15px;
    margin-inline-end: 30px;
    margin-inline-start: 100px;
    background-color: rgba(0, 0, 0, 0.566);
    border-radius: 3%;
    position: relative;
    left: 188px;
}

.item-container img{
    width: 300px;
    height: 300px;
}



.titulo{
    display: block;
    margin-block: 44px;
    padding-block: 25px;
    color: rgb(158, 204, 128);
    font-size: 10px;
    object-fit: cover;
    margin-inline-start: 29px;
}

.informacion{
    font-size: 20px;
    margin-bottom: 6px;
    padding: 7px;
    color: rgb(142, 170, 120);
}

.boton-info{
    
    width: 200px;
    height: 50px;
    margin: 10px;
    border-color: aliceblue;
    cursor: pointer;
    background-color: rgb(36, 26, 52);
    color: aliceblue;
    font-size: 20px;
}

.boton-info h1{
    color: aliceblue;
    font-size: 25px;
    display: inline-block;
    margin-inline-start: 42px;
    padding: 10px;
}

.contenedor-boton-info{
    display: flex;
    justify-content: center;
}
