*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.Titulo{
  text-align: center;
  color: rgb(255, 247, 237);
  position: relative;
  top: 164px;
  font-size: 50px;
}

.Subtitulo{
  text-align: center;
  color: rgb(220, 214, 208);
  position: relative;
  top: 186px;
  font-size: 30px;
}



