.container-checkout{
    height: 500px;
    color: aliceblue;
    text-align: center;
    margin: 20px;
    font-family: sans-serif;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
    position: relative;
    top: 120px;
    background-color: #87737356;
    border-radius: 4%;
}

.label{
    margin: 4px;
    padding: 10px;
}

.form-container input{
    width: 250px;
    height: 30px;
    border-radius: 10%;
  
}

.p-form{
    font-size: 25px;
    color: rgba(189, 164, 156, 0.906);
}

.boton-crear-orden{
    display: table;
    background-color: #ad565654;
    height: 30px;
    margin: 10px;
    color: aliceblue;
    font-size: 24px;
    border-block: 5%;
    border-radius: 10%;

}

.container-checkout h1{
    text-align: center;
    margin: 20px;
    font-family: sans-serif;
}